<div class="custom-video-player">
    <video id="video" class="video" controls>
        <source src="{{url_for('static', filename='/video/dva_gameplay.mp4')}}" type="video/mp4" class="video" />
        <p>このブラウザーはvideo要素に対応していません。<a href="{{url_for('static', filename='/video/dva_gameplay.mp4.mp4')}}">動画ファイルへのリンク</a>から御覧ください。</p>
    </video>
    <div class="video-state">
        <div id="RangeContainer">
            <input type="range" id="playback" class="playback" >
        </div>
    <p>全体の時間: <span id="durationDisplay">0:00</span></p>
        <p>現在の再生時間: <span id="currentTimeDisplay">0:00</span></p>
        <p>再生状態: <span id="statusDisplay">-</span></p>
        <p>音量:<input type="range" id="volumeSliders" min="0" max="100" step="1" value="100"/></p>
    </div>
        <div class="controls">
            <button id="playButtons" class="video_play"></button>
            <button id="pauseButtons" class="video_pause"></button>
            <button id="prevButton" class="video_backskip"></button>
            <button id="nextButton" class="video_jaupskip"></button>
        </div>
        <script src="{{ url_for('static', filename='js/ref_game_play_video.js') }}"></script>