<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/ref_game_main.css">
    <link rel="stylesheet" href="../../static/css/ref_game_sub.css">
    <link rel="stylesheet" href="../../../static/css/header.css">
    <title>反射神経ゲーム</title>
</head>
<body>
    <header id="header" class="header">
        <h1 id="header" class="header-logo"><a href="top.html">ビジョトレ</a></h1>
    
        <nav class="header-nav">
            <ul class="header-list">
              <li class="header-item"><a href="ref_game.html">反射神経ゲーム</a></li>
              <li class="header-item"><a href="dva_game.html">動体視力ゲーム</a></li>
                <li class="header-item"><a href="vision_register.html">目標設定</a></li>
            </ul>
        </nav>

        <div class="account-icon" id="accountIcon"></div>
        <div class="account-menu" id="accountMenu">
          <div class="account-menu-item"><a href="#">ログアウト</a></div>
          <div class="account-menu-item"><a href="account_delete.html">退会</a></div>
        </div>

        <script>
            const accountIcon = document.getElementById("accountIcon");
            const accountMenu = document.getElementById("accountMenu");
          
            accountIcon.addEventListener("click", () => {
              accountMenu.style.display = accountMenu.style.display === "none" ? "block" : "none";
            });
          
            document.addEventListener("click", (event) => {
              if (!accountIcon.contains(event.target) && !accountMenu.contains(event.target)) {
                accountMenu.style.display = "none";
              }
            });
        </script>
    </header>

    <h2 id="main_ref">
      <span class="level">Level</span><sapn id="level_now">0</sapn>
      <sapn class="counts">現在の進捗</span>&nbsp;<span id="counter">0</span><sapn>/5</span>
      <span class="time">残り時間</span>&nbsp;<span id="timer"></span>
    </h2>
    <div id="main">
      <div class="sub">
        <div class="button" id="button1"></div>
        <div class="button" id="button2"></div>
        <div class="button" id="button3"></div>
        <div class="button" id="button4"></div>
        <div class="button" id="button5"></div>
        <div class="button" id="button6"></div>
        <div class="button" id="button7"></div>
        <div class="button" id="button8"></div>
        <div class="button" id="button9"></div>
      </div>
    </div>
    
    <div id="view_levelup">
      <h1 class="message">おみごと！</h1>
      <div class="button">
          <button type="button">次のレベルへ</button>
          <br><br>
          <button type="button">タイトルに戻る</button>
      </div>
    </div>

    <div id="view_retirement">
        <h1 class="message">お疲れ様！</h1>
        <div class="result">
            スコア：◯◯◯<br>
            レベル：Level◯
        </div>
        <div class="button">
            <button type="button">タイトルに戻る</button>
        </div>
    </div>
    
    <div id="view_allclear">
        <h1 class="message">おめでとう！</h1>
        <div class="result">
            スコア：◯◯◯<br>
            レベル：Level10
        </div>
        <div class="button">
            <button type="button">タイトルに戻る</button>
        </div>
    </div>
    <script src="../../../static/js/ref_game_main.js"></script>
</body>
</html>