<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/ref_game_main.css">
    <link rel="stylesheet" href="../../../static/css/header.css">
    <title>反射神経ゲーム</title>
</head>
<body>
    <header id="header" class="header">
        <h1 id="header" class="header-logo"><a href="top.html">ビジョトレ</a></h1>
    
        <nav class="header-nav">
            <ul class="header-list">
              <li class="header-item"><a href="ref_game.html">反射神経ゲーム</a></li>
              <li class="header-item"><a href="dva_game.html">動体視力ゲーム</a></li>
                <li class="header-item"><a href="vision_register.html">目標設定</a></li>
            </ul>
        </nav>

        <div class="account-icon" id="accountIcon"></div>
        <div class="account-menu" id="accountMenu">
          <div class="account-menu-item"><a href="#">ログアウト</a></div>
          <div class="account-menu-item"><a href="account_delete.html">退会</a></div>
        </div>

        <script>
            const accountIcon = document.getElementById("accountIcon");
            const accountMenu = document.getElementById("accountMenu");
          
            accountIcon.addEventListener("click", () => {
              accountMenu.style.display = accountMenu.style.display === "none" ? "block" : "none";
            });
          
            document.addEventListener("click", (event) => {
              if (!accountIcon.contains(event.target) && !accountMenu.contains(event.target)) {
                accountMenu.style.display = "none";
              }
            });
        </script>
    </header>

    <h2 class="level">
      <span>Level</span>
      <sapn class="counts">残り回数</span>
      <span></span>
      <span class="time">残り時間</span>
      <span id="timer"><script src="../../../static/js/ref_game_timer.js"></script></span>
    </h2>
    <div id="main">
      <div class="sub">
        <div id="button1"><img src="../../../static/images/jyobi.png" alt="画像"></div>
        <div id="button2"></div>
        <div id="button3"></div>
        <div id="button4"></div>
        <div id="button5"></div>
        <div id="button6"></div>
        <div id="button7"></div>
        <div id="button8"></div>
        <div id="button9"></div>
        <script src="../../../static/js/ref_game_button.js"></script>
      </div>
    </div>
</body>
</html>