<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/ref_game.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <title>反射神経ゲーム</title>
</head>
<body>
    <header id="header" class="header">
        <h1 id="header" class="header-logo"><a href="top.html">ビジョトレ</a></h1>
    
        <nav class="header-nav">
            <ul class="header-list">
              <li class="header-item"><a href="ref_game.html">反射神経ゲーム</a></li>
              <li class="header-item"><a href="dva_game.html">動体視力ゲーム</a></li>
                <li class="header-item"><a href="vision_register.html">目標設定</a></li>
            </ul>
        </nav>

        <div class="account-icon" id="accountIcon"></div>
        <div class="account-menu" id="accountMenu">
          <div class="account-menu-item"><a href="#">ログアウト</a></div>
          <div class="account-menu-item"><a href="account_delete.html">退会</a></div>
        </div>

        <script>
            const accountIcon = document.getElementById("accountIcon");
            const accountMenu = document.getElementById("accountMenu");
          
            accountIcon.addEventListener("click", () => {
              accountMenu.style.display = accountMenu.style.display === "none" ? "block" : "none";
            });
          
            document.addEventListener("click", (event) => {
              if (!accountIcon.contains(event.target) && !accountMenu.contains(event.target)) {
                accountMenu.style.display = "none";
              }
            });
        </script>
    </header>
    
    <h1>反射神経ゲーム</h1>
    <div>
        <span>ゲームスタート</span>
    </div>

    <label class="open" for="pop-up1">遊び方</label>
    <input type="checkbox" id="pop-up1">
    <div class="overlay">
        <div class="window1">
            <label class="close" for="pop-up1">閉じる</label>
            <h4>遊び方</h4>
            <p>スタートボタンを押すと９個の枠内のいずれかにジョビジョビくんが表示されます。</p>
            <p>表示されたジョビジョビくんを制限時間内に素早く押してください。<br>
                (１レベルにつき５回、１回押すごとに制限時間がリセット)</p>
            <p>レベルが上がるごとに制限時間が短くなります。</p>
            <p>レベルは１０まであります。ゴール目指して頑張りましょう！</p>
        </div>
    </div>

    <label class="open" for="pop-up2">ランキング</label>
    <input type="checkbox" id="pop-up2">
    <div class="overlay">
        <div class="window2">
            <label class="close" for="pop-up2">閉じる</label>
            <h4>ランキング一覧</h4>
            <div class="ranking">
                <table>
                    <tr>
                        <th>1</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>7</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>9</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>10</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>