<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="/css/ref_game.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="/css/header.css") }}">
    <title>反射神経ゲーム</title>
</head>
<body>
    {% include "top_header.html" %}
    <div class="return">
        <a href="{{ url_for('user.user') }}"><button>トップページに戻る</button></a>
    </div>
    <h1 class="game">反射神経ゲーム</h1>
    <div class="start">
        <a href="{{ url_for('ref_game.ref_game_main') }}"><button>ゲームスタート</button></a>
    </div>

    <div class="pop-up-menu">
        <label class="open" for="pop-up1">遊び方</label>
    </div>
    <input type="checkbox" id="pop-up1">
    <div class="overlay">
        <div class="window1">
            <label class="close" for="pop-up1">閉じる</label>
            <h4>遊び方</h4>
            <p>スタートボタンを押すと９個の枠内のいずれかにジョビジョビくんが表示されます。</p>
            <p>表示されたジョビジョビくんを制限時間内に素早く押してください。<br>
                (１レベルにつき５回、１回押すごとに制限時間がリセット・５回押せば、レベルクリア)</p>
            <p>レベルが上がるごとに制限時間が短くなります。</p>
            <p>レベルは１０まであります。ゴール目指して頑張りましょう！</p>
        </div>
    </div>
    <div class="pop-up-menu">
        <label class="open" for="pop-up2">ランキング</label>
    </div>
    <input type="checkbox" id="pop-up2">
    <div class="overlay">
        <div class="window2">
            <label class="close" for="pop-up2">閉じる</label>
            <h4>ランキング一覧</h4>
            <div class="ranking">
                <table>
                    <tr>
                        <th>1</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>7</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>9</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                    <tr>
                        <th>10</th>
                        <td>ユーザー名</td>
                        <td>スコア</td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
    </div>
</body>
</html>