
body  {
    margin: 0;
}

.header {
    padding: 16px 24px;
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }
  
  .header.header-logo {
    font-weight: bold;
    font-size: 20px;
  }

  a {
    text-decoration: none;
    }
  
  .header-list {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
  }
  .account-icon {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 300px;
  }
  .account-menu {
    display: none;
    position: absolute;
    top: -3px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }
  .account-menu-item {
    padding: 5px 0;
    cursor: pointer;
  }