@charset "utf-8";
.open {
	cursor:pointer;
}
#pop-up1, #pop-up2 {
	display: none;
}
.overlay {
	display: none;
}
#pop-up1:checked + .overlay, #pop-up2:checked + .overlay {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}
.window1, .window2 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 90vw;
	max-width: 360px;
    padding: 20px;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window1 {
	height: 320px;
}
.window2 {
	height: 200px;
}
.close {
	position: absolute;
	top: 4px;
	right: 4px;
	cursor:pointer;
}
.window2 .ranking{
	width: 100%;
	height: 150px;
	overflow-y: scroll;
}