@charset "utf-8";

.view {
    text-align: center;
}

.view .message {
    font-size: 70px;
}

.result {
    font-size: 30px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button button {
    width: 230px;
    font-size: 30px;
}