@charset "utf-8";

#view_levelup, #view_retirement, #view_allclear {
    text-align: center;
}

#view_levelup .message, #view_retirement .message, #view_allclear .message {
    font-size: 70px;
}

.result {
    font-size: 30px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button button {
    width: 230px;
    font-size: 30px;
}