@charset "utf-8";

#main_ref {
    text-align: center;
    font-weight: bold;
}

#main {
    background: #00eeff;
    width: 390px;
    height: 360px;
    display: flex;
    margin: 0 auto;
    /* justify-content: center; */
    align-items: center;
}

#button1, #button2, #button3, #button4, #button5, #button6, #button7, #button8, #button9 {
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 10px 10px;
    margin-left: 25px;
    margin-top: 15px;
    background-color: #ffffff;
    border-color: #000000;
    border-style: solid;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.sub div img {
    display: block;
    position: absolute;
}

.time {
    text-align: right;
    padding-left: 2em;
}

.counts {
    padding-left: 2em;
}
