body {
  max-width: 100%;
  margin: auto;
  padding: 0;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  margin: auto;
  width: 60rem;
  height: 50rem;
}

.slide {
  display: none;
}

img {
  width: 100%;
  height: 75%;
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  0%, 100% {
    opacity: 0.4;
  }
  20%, 80% {
    opacity: 1;
  }
}

.tit_font {
  margin-top: 0.2rem;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 30px;
  margin-bottom: 0.2rem;
  padding: 0.5rem;
  position: relative;
  border-bottom: 5px solid #91f033;
  color: #91f033;
  font-weight: bold;
}

.tit_font:before {
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  right: 0;
  border-bottom: 1px solid;
  content: '';
}

.photo-container1, .photo-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo-container1 {
  max-width: 900px;
}

.photo-container2 {
  max-width: 850px;
}

.photo {
  width: 20rem;
  height: auto; /* 高さを自動調整 */
  text-align: center;
}

/* 画像のスタイル */
.photo img {
  max-width: 200%; /* 幅を200%に拡大 */
  height: auto; /* 高さを自動調整 */
}

.text-container {
  margin-left: 1em; /* 写真とタイトル・説明の間隔を設定 */
  width: 500px;
}

.title {
  font-size: 4rem;
  margin-bottom: 0.5rem; /* タイトルと説明の間隔を設定 */
}

/* descriptionのスタイル */
.description1, .description2 {
  padding-left: 1em;
  font-family: system-ui;
  margin-top: 20px;
}

.description1 p, .description2 p {
  margin-bottom: 20px;
}

.description1 {
  width: 88%;
  font-size: 2em;
}

.description2 {
  width: 70%;
  font-size: 1.6em;
}

.button005 a {
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 220px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
}

.button005 a:hover {
  background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
}

#description {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}




