.vision {
    margin: auto;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.meters {
    width: 500px;
    height: 20px;
}
/* メーターのバーの色を変える */
meter::-webkit-meter-bar {
    background-color: lightgray; /* デフォルトのバーの色 */
  }
  
  /* メーターの値の色を変える */
  meter::-webkit-meter-optimum-value,
  meter::-webkit-meter-suboptimum-value,
  meter::-webkit-meter-even-less-good-value {
    background-color: #40D458; /* メーターの値の色 */
  }

  .exechange-button {
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 40%;
    padding: 0;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 60%;
    background: rgb(149,202,252);
    background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
  }
  .exechange-button:hover {
    background: rgb(117,188,255);
    background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
  }

  .inputrange{
    width: 50%;
  }

.vision-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
}