.video-main {
    width: 100%;
    height: 20rem;
    max-width: 100%;

    }
.video-content {
    display: flex; /* Flexboxを使用して要素を横に配置 */
    justify-content: center;
    align-items: center; /* 垂直方向の中央揃え */
    margin-bottom: 20px; /* セクション間の余白を設定 */
    text-align: center;
}

.video-bar{
    justify-content: center;
    align-items: center; /* 垂直方向の中央揃え */
}
.video_play {
    display: inline-block;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    border: 0.05em solid currentColor;
    border-radius: 50%;
    color: #000;
    font-size: 2.8rem;
}
.video_play::before {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border: 0.5em solid transparent;
    border-left: 0.5em solid currentColor;
    box-sizing: border-box;
    content: "";
}

.video_pause {
    display: inline-block;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    border: 0.05em solid currentColor;
    border-radius: 50%;
    color: #000;
    font-size: 2.8rem;
}
.video_pause::before{
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0.2em;
    left: 0.55em;
    height: 0.9em;
    box-sizing: border-box;
    background-color: currentColor;
    content: "";
}
.video_pause::after {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0.2em;
    left: 0.85em;
    height: 0.9em;
    box-sizing: border-box;
    background-color: currentColor;
    content: "";
}

.video_stop {
        position: relative;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        border: 0.2rem solid #000;
        border-radius: 2rem;
    animation: rotateArrow 60s linear infinite; /* アニメーションを適用 */
}

@keyframes rotateArrow {
    0% {
        transform: rotate(0deg); /* 0度の回転 */
    }
    100% {
        transform: rotate(360deg); /* 360度の回転（1回転） */
    }
}

.video_stop::before {
    position: absolute;
    display: inline-block;
    content: " ";
    left: 100%;
    top: 50%;
    margin-top: -15px;
    margin-left:-10px;
    width: 15px;
    height: 30px;
    background-color: #fff;
}

.video_stop::after {
    position: absolute;
    display: inline-block;
    content: " ";
    left: 100%;
    top: 50%;
    margin-top: -15px;
    margin-left:-10px;
    border: 10px solid transparent;
    border: 10px solid rgba(0, 0, 0, 0);
    border-top: 15px solid #000;
}

.video_jaupskip {
    font-size: 2.8rem; /* フォントサイズを調整 */
    position: relative;
    width: 1.5em;
    height: 1.5em;
    border: 0.1em solid #000;
    border-radius: 100%;
}

/* マーク左 */
.video_jaupskip::before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0.4em;
    width: 0;
    height: 0;
    border-top: 0.4em solid transparent;
    border-left: 0.4em solid #000;
    border-bottom: 0.4em solid transparent;
}

/* マーク右 */
.video_jaupskip::after {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0.7em;
    width: 0;
    height: 0;
    border-top: 0.4em solid transparent;
    border-left: 0.4em solid #000;
    border-bottom: 0.4em solid transparent;
}

.video_backskip {
    font-size: 2.8rem; /* フォントサイズを調整 */
    position: relative;
    width: 1.5em;
    height: 1.5em;
    border: 0.1em solid #000;
    border-radius: 100%;
}

.video_backskip::before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0.2em;
    width: 0;
    height: 0;
    border-top: 0.4em solid transparent;
    border-left: 0.4em solid #000;
    border-bottom: 0.4em solid transparent;
    transform: rotate(180deg);
}

/* マーク右 */
.video_backskip::after {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0.6em;
    width: 0;
    height: 0;
    border-top: 0.4em solid transparent;
    border-left: 0.4em solid #000;
    border-bottom: 0.4em solid transparent;
    transform: rotate(180deg);
}

.video-pragress {
    width: 100%;
    height: 1.5em;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: none;
    background: transparent;
    border-radius: 1.5em;border: 2px solid white;
}

.back_video{
    font-size: 2.8rem; /* フォントサイズを調整 */
    position: relative;
    width: 1.5em;
    height: 1.5em;
    border: 0.1em solid #000;
    border-radius: 100%;
}

/* マーク左 */
.back_video::before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0.5em;
    width: 0;
    height: 0;
    border-top: 0.4em solid transparent;
    border-left: 0.4em solid #000;
    border-bottom: 0.4em solid transparent;
    transform: rotate(180deg);
}

/* マーク右 */
.back_video::after {
    position: absolute;
    top: 0.3em;
    left: 0.4em;
    width: 0.1em;
    height: 0.8em;
    box-sizing: border-box;
    background-color: currentColor;
    content: "";
    transform: rotate(180deg);
}

.next_video{
    font-size: 2.8rem; /* フォントサイズを調整 */
    position: relative;
    width: 1.5em;
    height: 1.5em;
    border: 0.1em solid #000;
    border-radius: 100%;
}

/* マーク左 */
.next_video::before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0.4em;
    width: 0;
    height: 0;
    border-top: 0.4em solid transparent;
    border-left: 0.4em solid #000;
    border-bottom: 0.4em solid transparent;
}

/* マーク右 */
.next_video::after {
    position: absolute;
    top: 0.3em;
    left: 0.8em;
    width: 0.1em;
    height: 0.8em;
    box-sizing: border-box;
    background-color: currentColor;
    content: "";
}
/* 音量調節 */
input[type="range"] {
    width: 10%;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border: 2px solid #2980b9;
    border-radius: 50%;
    cursor: pointer;
  }
  
  input[type="range"]::-webkit-slider-thumb::before {
    content: attr(value);
    display: block;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }

#progressContainer {
    width: 640px;
    height: 10px;
    background-color: #ccc;
    margin: 10px auto; 
}

#progressBar {
    height: 100%;
    background-color: #0073e6;
}

.control-menu button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 24px;
        margin: 5px;
        padding: 5px;

}

.video-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .video-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }