<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/dva_game.css">
    <title>動体視力ゲーム</title>
</head>
<body>
    <h1>動体視力ゲーム</h1>
    <div>
        <span>ゲームスタート</span>
    </div>

    <label class="open" for="pop-up">遊び方</label>
    <input type="checkbox" id="pop-up">
    <div class="overlay">
        <div class="window">
            <label class="close" for="pop-up">閉じる</label>
            <h4>遊び方</h4>
            <p>スタートボタンを押すと数字が左から右に移動します。</p>
            <p>表示された数字と同じものを選択してください。</p>
            <p>レベルが上がるごとにスピードが早くなります。</p>
            <p>レベルは１０まであります。ゴール目指して頑張りましょう！</p>
        </div>
    </div>

    <label class="open" for="pop-up">ランキング</label>
    <input type="checkbox" id="pop-up">
    <div class="overlay">
        <div class="window">
            <label class="close" for="pop-up">閉じる</label>
            <h4>ランキング一覧</h4>
        </div>
    </div>
    <div>
        <p>横切った数字はどれ？</p>
        <div>
            <div>
                <span>1</span>
            </div>
            <div>
                <span>2</span>
            </div>
            <div>
                <span>3</span>
            </div>
            <div>
                <span>4</span>
            </div>
            <div>
                <span>5</span>
            </div>
            <div>
                <span>6</span>
            </div>
            <div>
                <span>7</span>
            </div>
            <div>
                <span>8</span>
            </div>
            <div>
                <span>9</span>
            </div>
        </div>
    </div>
    
</body>
</html>