
    <nav class="header-nav">
        <ul class="header-list">
          <li class="header-item"><a href="ref_game.html">反射神経ゲーム</a></li>
          <li class="header-item"><a href="{{ url_for('dva_game.dva_game') }}">動体視力ゲーム</a></li>
          <li class="header-item"><a href="{{ url_for('vision_register.vision_changes') }}">目標設定</a></li> 
        </ul>
    </nav>
    {% extends "layout.html" %} 
    {% block title %}ユーザーページ{% endblock %}


    {% include "user/user_header.html" %}
    {% include "user/user_content.html"%}
    {% include "visiontraining_video.html"%}