<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/header.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/login.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/footer.css')}}">

    <title>登録確認画面</title>
</head>
<body>
    {% include "top_header.html" %}
    <div class="form">
        <h1>新規登録 確認</h1>
        <form action="{{ url_for('user.register_exe')}}" method="post">
        <table>
            <tr>
                <td><p>名前</p></td>
                <td>{{ user_data.name}}<input type="hidden" name="name" value="{{ user_data.name }}"></td>
            </tr>
            <tr>
                <td><p>年齢</p></td>
                <td>
                    {% if user_data.age == "1" %}
                    <p>10歳未満</p>
                    {% elif user_data.age == "2" %}
                    <p>10歳以上20歳未満</p>
                    {% elif user_data.age == "3" %}
                    <p>20歳以上30歳未満</p>
                    {% elif user_data.age == "4" %}
                    <p>30歳以上40歳未満</p>
                    {% elif user_data.age == "5" %}
                    <p>40歳以上50歳未満</p>
                    {% elif user_data.age == "6" %}
                    <p>50歳以上60歳未満</p>
                    {% elif user_data.age == "7" %}
                    <p>60歳以上70歳未満</p>
                    {% elif user_data.age == "8" %}
                    <p>70歳以上80歳未満</p>
                    {% elif user_data.age == "9" %}
                    <p>80歳以上90歳未満</p>
                    {% elif user_data.age == "10" %}
                    <p>90歳以上100歳未満</p>
                    {% elif user_data.age == "11" %}
                    <p>100歳以上</p>
                    {% else %}
                    <p>指定しない</p>
                    {% endif %}
                    <input type="hidden" name="age" value="{{ user_data.age }}"></td>
            </tr>
            <tr>
                <td><p>性別</p></td>
                <td>
                    {% if user_data.gender == "0" %}
                    <p>男性</p>
                    {% elif user_data.gender == "1" %}
                    <p>女性</p>
                    {% elif user_data.gender == "2" %}
                    <p>その他</p>
                    {% else %}
                    <p>指定しない</p>
                    {% endif %}
                    <input type="hidden" name="gender" value="{{ user_data.gender }}"></td>
            </tr>
            <tr>
                <td><p>メールアドレス</p></td>
                <td>{{ user_data.mail }}<input type="hidden" name="mail" value="{{ user_data.mail }}"></td>
            </tr>
            <tr>
                <td><p>ユーザーID</p></td>
                <td>{{ user_data.user_id }}<input type="hidden" name="user_id" value="{{ user_data.user_id }}"></td>
            </tr>
            <tr>
                <td><p>パスワード</p></td>
                <td>*********<input type="hidden" name="password1" value="{{ user_data.password1 }}"></td>
            </tr>
        </table>

        <tr>
            <input type="submit" class="button" placeholder="登録">
        </tr>
        <button href="{{ url_for('user.register_form')}}">戻る</button>

    </form>
</div>
{% include "footer.html"%}
    </body>
</html>