<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/header.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/login.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/footer.css')}}">
    <title>新規アカウント登録画面</title>
</head>
<body>
    {% include "top_header.html" %}
    <div class="form">
        <p>{% if error != null %}
            <p style="color:red">{{error}}</p>
            {% endif %}
        </p>
        <h1>新規登録</h1>
        <form action="{{url_for('user.register_confirm')}}" method="post">
          <table>
            <tr>
              <td><p>名前  <font class="required">必須</font><p></td>
                <td><input type="text" name="name" value="{{user_data.name if user_data is defined else ''}}"></td>
              </tr>
              <tr>
                <td>メールアドレス  <font class="required">必須</font><p></td>
                  <td><input type="email" name="mail" value="{{user_data.mail if user_data is defined else ''}}"></td>
                </tr>
                <tr>
                  <td>年齢  <font class="any">任意</font><p></td>
                  <td>
                    <select name="age">
                      <option value="0">指定しない</option>
                      <option value="1">10歳未満</option>
                      <option value="2">10歳以上20歳未満</option>
                      <option value="3">20歳以上30歳未満</option>
                      <option value="4">30歳以上40歳未満</option>
                      <option value="5">40歳以上50歳未満</option>
                      <option value="6">50歳以上60歳未満</option>
                      <option value="7">60歳以上70歳未満</option>
                      <option value="8">70歳以上80歳未満</option>
                      <option value="9">80歳以上90歳未満</option>
                      <option value="10">90歳以上100歳未満</option>
                      <option value="11">100歳以上</option>
                    </select>
                  </td>
                </tr>
          <tr>
            <td>性別  <font class="any">任意</font></td>
                <td>
                <label><input type="radio" name="gender" value="0">男性</label>
                <label><input type="radio" name="gender" value="1">女性</label>
                <label><input type="radio" name="gender" value="2">その他</label>
                <label><input type="radio" name="gender" value="3" checked>指定しない</label>
                  </td>
            </tr>
          <tr>
            <td>ユーザーID  <font class="required">必須</font></td>
            <td><input type="text" name="user_id" value="{{user_data.user_id if user_data is defined else ''}}"></td>
          </tr>
          <tr>
            <td>パスワード  <font class="required">必須</font></td>
            <td><input type="password" name="password1" value="{{user_data.password1 if user_data is defined else ''}}"></td>
          </tr>
          <tr>
            <td>パスワード(確認用)  <font class="required">必須</font></td>
            <td><input type="password" name="password2" value="{{user_data.password2 if user_data is defined else ''}}"></td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">確認</button></td>
          </tr>
        </form>
      </table>
    </div>
    {% include "footer.html"%}
</body>
</html>