<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/header.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/accounts.css')}}">
    <title>新規登録結果</title>
</head>
<body>
    {% include "top_header.html" %}
    <h1>新規登録完了</h1>
    <p>登録完了</p>
    <p>新規登録が完了しました</p>
    <a class="exechange-button" href="{{ url_for('user.login_form') }}">ログイン</a>
</body>
</html>