<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/header.css')}}">
    <title>Document</title>
</head>
<body>
    {% include "top_header.html" %}
    <p>{% if error != null %}
        <p style="color:red">{{error}}</p>
        {% endif %}
    </p>
    <h1>ログイン画面</h1>
    <form action="{{ url_for('user.login_exe') }}" method="post">
        ユーザID:<input type="text" name="user_id" value="{{user_data.user_id if user_data is defined else''}}"><br>
        パスワード：<input type="password" name="password" value="{{user_data.password if user_data is defined else''}}"><br>
    <button type="submit">ログイン</button>
    <a href="{{ url_for('user.password_publish') }}">パスワードが分からない場合</a>
</body>
</html>