<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>{% if error != null %}
        <p style="color:red">{{error}}</p>
        {% endif %}
    </p>
    <h1>パスワードが分からない場合</h1>
    <form action="{{ url_for('user.password_change') }}" method="post">
       メールアドレス:<input type="email" name="mail"><br>
    <button type="submit">送信</button>
    </form>
</body>
</html>